{% extends "layout.njk" %}

{% block content %}
<div class="container">

      <div class="w-100 mb-2"></div>
      <a class="btn btn-outline-primary" href="/activitiesUser/{{user.id}}" role="button">Dashboard</a>

</div>

<div class="container mt-3">
  <form method="POST" action="/expense">
    <input type="text" name="activityId" id="activityId" value="{{activityId}}" readonly>
    <input type="text" name="expenseId" id="expenseId" value="{{expense.id}}" readonly>
    <div class="form-group">
      <label for="expenseTitle">Describe the expense</label>
      <input type="text" class="form-control" name="expenseTitle" id="expenseTitle" value="{{expense.title}}" placeholder="Expense's name">
    </div>
    <div class="form-group">
      <label for="expenseAmount">Amount</label>
      <input type="text" name="expenseAmount" id="expenseAmount" value="{{expense.amount}}" placeholder="Amount in €">
    </div>
  <button type="submit" class="btn btn-primary mt-2">Save activity</button>
</form>
</div>
{% endblock %}
