{% extends "layout.njk" %}

{% block content %}


<a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
  <span class="fa fa-facebook"></span>

  Sign in with Facebook
</a>

<a href="/auth/facebook" title="Facebook" class="btn btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i>Log in with Facebook</a>

{% endblock %}


