{% extends "layout.njk" %}

{% block content %}

<a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
  <span class="fa fa-facebook"></span> Sign in with Facebook
</a>
{% endblock %}


